.exercise-section{
    margin-left: 140px;
}

.exercise-data{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 30px;
}

.todays-exercise{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.profile{
    border: 1px solid #e2e6e7;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 8px;
    background-color: wheat;
}
.questions{
    margin-top: 80px;
    text-align: center;
}
.answer-container{
    display: flex;
    justify-content: center;
   
}
.answers{
    width: 60%;
    
}

@media screen and (max-width: 600px) {

    .exercise-section{
        margin-left: 5px;
        margin-right: 5px;
        
    }
    .exercise-data{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .todays-exercise{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        
    }
}